<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación de ejemplo</title>

</head>
<body>
    <h1>Mi sitio web</h1>
    <h2>Bienvenido</h2>
    <ul type="none">
        <li><a href="">home</a></li>
        <li><a href="">about</a></li>
        <li><a href="">contact</a></li>
    </ul>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ipsam molestias ab temporibus voluptate aspernatur ex earum mollitia quam. Quidem accusantium commodi vel fuga rem, mollitia non necessitatibus sequi quos?</p>

    <h3>Tareas</h3>
    <ol>
        <li>Repasar la clase</li>
        <li>Hacer el trabajo práctico</li>
        <li>Trabajar sobre el sprint</li>
    </ol>
    
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, incidunt placeat! Nulla at repellendus laudantium id, iste quaerat, aut culpa dignissimos, animi quis maxime nesciunt incidunt mollitia rerum eaque harum.</p>

    <h3>Compras del súper</h3>
    <ul type="square">
        <li>Azúcar</li>
        <li>Yerba</li>
        <li>leche</li>
    </ul>

</body>
</html>