<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aplicación de ejemplo</title>
</head>

<body>
    <header>
        <h1 id="inicio">Mi sitio web</h1>
        <nav>
            <ul type="none">
                <li><a href="/">home</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/contact">contact</a></li>
                <li><a href="https://google.com" target="__black">google</a></li>
                <li><a href="#redes">Nuestra redes</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <img src="https://image.freepik.com/foto-gratis/primer-plano-bandera-ondeante-argentina-texturas-interesantes_181624-12640.jpg"
            alt="" />        
        </section>
        <section>
            <h2>Productos destacados</h2>
            <article>
                <img src="/images/aspiradoraKarcher.webp" alt="">
                <div>
                    <h4>Titulo del producto</h4>
                    <p>$5000</p>
                    <span>50%OFF</span>
                </div>
                <a href="">ver más</a>
            </article>
            <article>
                <img src="/images/batidora.webp" alt="">
                <div>
                    <h4>Titulo del producto</h4>
                    <p>$5000</p>
                    <span>50%OFF</span>
                </div>
                <a href="">ver más</a>
            </article>
            <article>
                <img src="/images/parlante.webp" alt="">
                <div>
                    <h4>Titulo del producto</h4>
                    <p>$5000</p>
                    <span>50%OFF</span>
                </div>
                <a href="">ver más</a>
            </article>
        </section>
       <section>
           <img src="/images/mercadoLiebreLOGO.jpeg" alt="">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ipsam
            molestias ab temporibus voluptate aspernatur ex earum mollitia quam.
            Quidem accusantium commodi vel fuga rem, mollitia non necessitatibus
            sequi quos?
        </p>
       </section>
       <section>
        <h2>Ofertas del día!</h2>
        <article>
            <img src="/images/pava.webp" alt="">
            <div>
                <h4>Titulo del producto</h4>
                <p>$50</p>
                <span>50%OFF</span>
            </div>
            <a href="">ver más</a>
        </article>
        <article>
            <img src="/images/auricularesAdidas.jpg" alt="">
            <div>
                <h4>Titulo del producto</h4>
                <p>$50</p>
                <span>50%OFF</span>
            </div>
            <a href="">ver más</a>
        </article>
    </section>

      
    </main>
    <footer>
        <h3 id="redes">Redes sociales</h3>
        <ul type="square">
            <li>Facebook</li>
            <li>Instagram</li>
            <li>Twitter</li>
        </ul>

        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae quod
            saepe dignissimos sunt enim, dolore molestias animi ipsam fugiat dolor
            magni earum facilis! Ad odit ducimus quaerat repellendus accusantium
            quibusdam.
        </p>
        <a href="#inicio">Ir arriba!</a>

    </footer>

</body>

</html>